<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简易百度图床工具</title>
  <link rel="stylesheet" href="assets/home.css">
</head>
<body>
<form id="image-upload" method="post" enctype="multipart/form-data" action="/upload">
  <div>
    <input type="file" id="image" name="image" accept="image/*" required multiple>
    <button type="submit">上传</button>
  </div>
  <fieldset>
    <legend>认证设定</legend>
    <label for="bduss">BDUSS Cookie 内容</label>
    <br>
    <input name="bduss" id="bduss" type="password" autocomplete="off" value="{{.BDUSS}}" />
  </fieldset>
  <fieldset>
    <legend>已上传图片</legend>

    <ul class="uploaded-images" id="uploaded-images">
      <li style="display: none" class="uploaded-images--item">
        <a class="uploaded-images--preview" target="_blank" referrerpolicy="no-referrer" rel="noopener noreferrer nofollow">
          <img alt="点击重试加载" crossorigin="anonymous" class="uploaded-images--image" src="about:blank" />
        </a>
        <div class="uploaded-images--fields">
          <input class="uploaded-images--field" type="text" readonly value="https://imgsrc.baidu.com/forum/pic/item/xxx.png" />
          <input class="uploaded-images--field" type="text" readonly value="![](https://imgsrc.baidu.com/forum/pic/item/xxx.png)" />
          <input class="uploaded-images--field" type="text" readonly value="[img]https://imgsrc.baidu.com/forum/pic/item/xxx.png[/img]" />
        </div>
      </li>
    </ul>
  </fieldset>
</form>
<script defer async src="assets/uploader.js"></script>
</body>
</html>