<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简易百度图床工具</title>
  <link rel="stylesheet" href="assets/home.css">
</head>
<body class="hide-dnd-notes">

<main>
  <header>
    <h1>简易百度图床工具</h1>
  </header>

  <form id="image-upload" method="post" enctype="multipart/form-data" action="/upload">
    <div>
      <input type="hidden" id="csrf-token" name="_csrf" value="{{.csrf}}">
      <label for="image-input">
        <span class="pointer-only">选择或拖拽文件进行上传</span>
        <span class="touch-only">选择文件进行上传</span>
      </label>
      <div><input type="file" id="image-input" name="image" accept="image/*" required multiple></div>

      <noscript>
        <button type="submit">上传</button>
      </noscript>
    </div>

    <details class="card">
      <summary class="card--title">认证设定</summary>

      <div class="card--body">
        <label for="bduss">自定义 <code>BDUSS</code></label>
        <div>
          <textarea name="bduss" id="bduss" placeholder="留空则使用服务器预配置的 BDUSS">{{.BDUSS}}</textarea>
        </div>
      </div>
    </details>

    <fieldset>
      <legend>上传队列</legend>

      <ul class="uploaded-images" id="uploaded-images">
        <li style="display: none" class="uploaded-images--item uploaded-images--uploading uploaded-images--error">
          <a class="uploaded-images--preview" target="_blank" referrerpolicy="no-referrer"
             rel="noopener noreferrer nofollow">
            <img alt="点击重试加载" crossorigin="anonymous" class="uploaded-images--image"
                 src="data:image/svg+xml,%3Csvg/%3E" />
          </a>
          <div class="uploaded-images--fields">
            <label class="uploaded-images--label">
              <span class="uploaded-images--label-text">URL</span>
              <input class="uploaded-images--field" type="text" readonly
                     value="https://imgsrc.baidu.com/forum/pic/item/xxx.png" />
            </label>
            <label class="uploaded-images--label">
              <span class="uploaded-images--label-text">Markdown</span>
              <input class="uploaded-images--field" type="text" readonly
                     value="![](https://imgsrc.baidu.com/forum/pic/item/xxx.png)" />
            </label>
            <label class="uploaded-images--label">
              <span class="uploaded-images--label-text">BBCode</span>
              <input class="uploaded-images--field" type="text" readonly
                     value="[img]https://imgsrc.baidu.com/forum/pic/item/xxx.png[/img]" />
            </label>
          </div>
          <div class="uploaded-images--error">
            <p class="uploaded-images--error-message">Error: test</p>
          </div>
        </li>
      </ul>
    </fieldset>
  </form>

  <div id="dnd-upload-note">
    <div class="dnd-upload-note--border">
      <div class="dnd-upload-note--content">
        放下文件即可上传图片
      </div>
    </div>
  </div>
</main>

<script defer async src="assets/fs-shim.js"></script>
<script defer async src="assets/uploader.js"></script>
</body>
</html>